
@using Proligence.Feedback.Extensions
@using Proligence.Feedback.ViewModels
@model IssuesIndexViewModel

@{
    var feedbackIndex = 0;

    Layout.Title = T("Feedback").ToString();
}

@using (Html.BeginFormAntiForgeryPost())
{
    @Html.ValidationSummary()

    <fieldset class="bulk-actions">
        @Html.TextBoxFor(m => m.Options.Search, new {@class = "text"})        
        <label for="filterResults">@T("Filter:")</label>
        <select id="filterResults" name="@Html.NameOf(m => m.Options.Filter)">
            @Html.SelectOption(Model.Options.Filter, IssuesFilter.All, T("All Issues").ToString())
            @Html.SelectOption(Model.Options.Filter, IssuesFilter.New, T("New Issues").ToString())
            @Html.SelectOption(Model.Options.Filter, IssuesFilter.Open, T("Open Issues").ToString())
            @Html.SelectOption(Model.Options.Filter, IssuesFilter.ToBeDiscussed, T("To Be Discussed Issues").ToString())
            @Html.SelectOption(Model.Options.Filter, IssuesFilter.InProgress, T("In Progress Issues").ToString())
            @Html.SelectOption(Model.Options.Filter, IssuesFilter.CantReproduce, T("Can't Reproduce Issues").ToString())
            @Html.SelectOption(Model.Options.Filter, IssuesFilter.Duplicate, T("Duplicate Issues").ToString())
            @Html.SelectOption(Model.Options.Filter, IssuesFilter.WontFix, T("Won't Fix Issues").ToString())
            @Html.SelectOption(Model.Options.Filter, IssuesFilter.Obsolete, T("Obsolete Issues").ToString())
            @Html.SelectOption(Model.Options.Filter, IssuesFilter.Closed, T("Closed Issues").ToString())
            @Html.SelectOption(Model.Options.Filter, IssuesFilter.WaitingVerification, T("Wainting Verification Issues").ToString())
        </select>
        <label for="sortResults">@T("Sort by:")</label>
        <select id="sortResults" name="@Html.NameOf(m => m.Options.Order)">
            @Html.SelectOption(Model.Options.Order, IssuesOrder.IdAsc, T("Id Ascending").ToString())
            @Html.SelectOption(Model.Options.Order, IssuesOrder.IdDesc, T("Id Descending").ToString())
            @Html.SelectOption(Model.Options.Order, IssuesOrder.StateAsc, T("State Ascending").ToString())
            @Html.SelectOption(Model.Options.Order, IssuesOrder.StateDesc, T("State Descending").ToString())
            @Html.SelectOption(Model.Options.Order, IssuesOrder.CreatedAsc, T("Created Ascending").ToString())
            @Html.SelectOption(Model.Options.Order, IssuesOrder.CreatedDesc, T("Created Descending").ToString())
            @Html.SelectOption(Model.Options.Order, IssuesOrder.SummaryAsc, T("Summary Ascending").ToString())
            @Html.SelectOption(Model.Options.Order, IssuesOrder.SummaryDesc, T("Summary Descending").ToString())
            @Html.SelectOption(Model.Options.Order, IssuesOrder.DescriptionAsc, T("Description Ascending").ToString())
            @Html.SelectOption(Model.Options.Order, IssuesOrder.DescriptionDesc, T("Description Descending").ToString())
        </select>

        <button type="submit" name="submit.Filter" value="@T("Filter")">@T("Filter")</button>
    </fieldset>


    <fieldset>
        <table class="items">
            <thead>
                <tr>
                    <th scope="col">@T("Id")</th>
                    <th scope="col">@T("State")</th>
                    <th scope="col">@T("Created")</th>
                    <th scope="col">@T("Summary")</th>
                    <th scope="col">@T("Description")</th>
                </tr>
            </thead>
            @if (Model.FeedbackIssues != null && Model.FeedbackIssues.Any())
            {
                foreach (var entry in Model.FeedbackIssues)
                {
                    <tr>
                        <td>
                            @entry.FeedbackIssue.Id
                        </td>
                        <td>
                            @entry.FeedbackIssue.State
                        </td>
                        <td>
                            @entry.FeedbackIssue.Created
                        </td>
                        <td title="@entry.FeedbackIssue.Summary">
                            @entry.FeedbackIssue.Summary.TruncateAtWord(80)
                        </td>
                        <td title="@entry.FeedbackIssue.Description">
                            @entry.FeedbackIssue.Description.TruncateAtWord(80)
                        </td>
                    </tr>
                    feedbackIndex++;
                }
            }
            else
            {
                <tr>
                    <td colspan="5">
                        @T("There are no items to display.")
                    </td>
                </tr>
            }
        </table>
        @Display(Model.Pager)

    </fieldset>
}