@using Proligence.Feedback.Models
@model dynamic

@{
    Script.Require("jQuery");
    var project = (string) Model.Project;
}

<div id="feddback-widget">
    @using (Html.BeginForm("SendFeedback", "Feedback", new { area = "Proligence.Feedback" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryTokenOrchard()
        <fieldset>
            <legend>@T("Feedback")</legend>
            <div class="form-group">
                <label class="control-label">@T("Summary")</label>
                <input type="text" class="text" name="Summary" value="" />
            </div>
            <div class="form-group">
                <label class="control-label">@T("Description")</label>
                <textarea name="Description"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="@T("Send feedback")" />
            </div>
        </fieldset>
    }
</div>
