﻿@using Proligence.Feedback.Models

@model dynamic
@{
    Script.Require("jQuery");
    FeedbackWidgetPart model = Model;
}
<div>
    <label class="control-label">@T("Project Name")</label>
    @Html.TextBox("Project", model.Project, new { @class = "text medium" })
</div>


