﻿@using Proligence.Feedback.YouTrack.Models
@{
    YouTrackSettingsPart model = Model;
}
<fieldset>
    <legend>@T("YouTrack Settings")</legend>
    <div class="form-group">
        <label class="control-label">@T("YoutrackUrl")</label>
        @Html.TextBox("Url", model.Url, new { @class = "text medium" })
    </div>
    <div class="form-group">
        <label class="control-label">@T("User name")</label>
        @Html.TextBox("UserName", model.UserName, new { @class = "text" })
    </div>
    <div class="form-group">
        <label class="control-label">@T("Password")</label>
        @Html.Password("Password", model.Password, new { @class = "text" })
    </div>
    <div class="form-group">
        <label class="control-label">@T("Default project")</label>
        @Html.TextBox("DefaultProject", model.DefaultProject, new { @class = "text" })
    </div>
    <div class="form-group">
        <label class="control-label">@T("Rest timeout")</label>
        @Html.TextBox("RestTimeout", model.RestTimeout, new { @class = "text small" })
    </div>
</fieldset>