@model Proligence.Feedback.Models.ExceptionReportingSettingsPart
<fieldset>
    <legend>@T("Exception Reporting Settings")</legend>
    <div>
        @Html.EditorFor(m => m.ReportExceptions)
        <label class="forcheckbox" for="ExceptionReportingSettings_ReportExceptions">@T("Report Unhandled Exceptions")</label>
        <span class="hint">@T("Check to automatically report unhandled exceptions to your issue tracking system.")</span>
    </div>
    <div class="form-group">
        <label class="control-label">@T("Project")</label>
        @Html.TextBox("Project", @Model.Project, new { @class = "text" })
        <span class="hint">@T("Enter the name of the project in your issue tracking system to which unhandled exceptions should be reported. Leave this field empty to use the default project.")</span>
    </div>
</fieldset>