@using Orchard.ContentManagement
@model string

<div>
    @using (Html.BeginFormAntiForgeryPost())
    {
        <fieldset>
            <legend>@T("Create Issue")</legend>
            <div>
                @Html.Label("Summary", "Issue Summary")
                @Html.TextBox("summary")
            </div>
            <div>
                @Html.Label("Description", "Issue Description")
                @Html.TextBox("description")
            </div>
            <div>
                @Html.Label("isException", "Is Exception")
                @Html.CheckBox("isException")
            </div>
            <div class="actions">
                <button type="submit">@T("Create issue")</button>
            </div>
        </fieldset>
    }

    @if (@Model != null)
    {
        @Model
    }
</div>